/* ====================================================================================================
Colors : Here you define your color palette & colorscheme, we defined some fresh colors for you
======================================================================================================*/

$black: #333;
$sand: #C9A977;

$white: #F3F3F5;

$grey: #EFF0F2;
$light-grey: #FAFBFB;
$dark-grey: #9295A4;


$color-addons: #3498db;

$color-base: #1abc9c;

$color-components: #e67e22;

$color-core: #e74c3c;

$color-themes: #f1c40f;

$color-utils: #9b59b6;

/* Shortcuts
--------------------------------------------------------------------------------------------------*/
$bl: $black;
$sd: $sand;

$w: $white;
$ge: $grey;
$lg: $light-grey;
$dg: $dark-grey;



/* Theme
--------------------------------------------------------------------------------------------------*/
$color-theme: $bl;
$ct: $color-theme;
