/* ====================================================================================================
Colors : Here you define your color palette & colorscheme, we defined some fresh colors for you
======================================================================================================*/

$black: #333;
$sand: #C9A977;

$white: #F3F3F5;

$grey: #EFF0F2;
$light-grey: #FAFBFB;
$dark-grey: #9295A4;

/* Shortcuts
--------------------------------------------------------------------------------------------------*/
$bl: $black;
$sd: $sand;

$w: $white;
$ge: $grey;
$lg: $light-grey;
$dg: $dark-grey;



/* Theme
--------------------------------------------------------------------------------------------------*/
$color-theme: $bl;
$ct: $color-theme;
